/* common css */
@font-face {
  font-family: "Lato Light";
  src: url("fonts/Lato-Light.ttf"); }
@font-face {
  font-family: "Lato Regular";
  src: url("fonts/Lato-Regular.ttf"); }
@font-face {
  font-family: "Lato Bold";
  src: url("fonts/Lato-Bold.ttf"); }
@font-face {
  font-family: "Lato Black";
  src: url("fonts/Lato-Black.ttf"); }
@font-face {
  font-family: "Lato LightItalic";
  src: url("fonts/Lato-LightItalic.ttf"); }
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  color: #333333;
  font-size: 14px;
  font-family: "Lato Light", arial;
  box-sizing: border-box; }

.clearfix {
  clear: both; }

.clearfix:before, .clearfix:after {
  clear: both;
  display: table;
  content: ""; }

.container {
  max-width: 1600px;
  margin: 0 auto;
  box-sizing: border-box; }

img {
  max-width: 100%;
  vertical-align: middle; }

a {
  text-decoration: none;
  color: #333;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

h1 {
  font-size: 92px;
  line-height: 96px;
  font-family: "Lato Black"; }

h2 {
  font-family: "Lato Black"; }

h3 {
  font-size: 40px;
  line-height: 44px;
  font-family: "Lato Bold"; }

h4 {
  font-size: 30px;
  font-family: "Lato Bold"; }

h5 {
  font-size: 24px;
  font-family: "Lato Bold"; }

input {
  background: transparent;
  border: 0 none; }

input, input:focus, button, a:focus {
  outline: none; }

button {
  cursor: pointer;
  padding: 0;
  border: 0 none; }

/* components css starts */
.header-slop {
  margin-bottom: 190px; }
  .header-slop:after {
    bottom: -75px;
    background: #eef1f1;
    transform: rotate(-4deg); }

.footer-slop {
  margin-top: 350px; }
  .footer-slop:after {
    top: -75px; }

.slop-left, .slop-bottom {
  position: relative;
  padding-bottom: 140px; }
  .slop-left:after, .slop-bottom:after {
    content: "";
    background: url(../images/slop-left.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 140px;
    position: absolute;
    bottom: 0;
    left: 0; }

.slop-bottom:after {
  background: url(../images/slop-bottom.jpg) 0 bottom no-repeat;
  background-size: 100% 100%; }

.slop-top {
  position: relative;
  padding-top: 140px; }
  .slop-top:before {
    background: url(../images/slop-bottom.jpg) 0 0 no-repeat;
    transform: rotate(180deg);
    content: "";
    background-size: 100% 100%;
    width: 100%;
    height: 140px;
    position: absolute;
    top: 0;
    left: 0; }

.slop-right {
  position: relative;
  padding-top: 160px; }
  .slop-right:before {
    content: "";
    background: url(../images/slop-right.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 140px;
    position: absolute;
    top: 0;
    left: 0; }

.section-heading {
  text-align: center;
  margin-bottom: 70px; }
  .section-heading:before {
    width: 18px;
    height: 18px;
    content: "";
    display: inline-block;
    background: url("../images/heading-arrow.png") no-repeat center center; }
  .section-heading span {
    font-size: 20px;
    font-family: "Lato Regular";
    display: block;
    margin: 10px 0; }
  .section-heading h3 {
    margin: 15px 0 0; }

.highlights-list {
  list-style-type: none;
  padding-left: 25px;
  margin: 0; }
  .highlights-list li {
    font-size: 18px;
    border-bottom: 1px solid #e1e1e1;
    padding: 15px 0;
    position: relative; }
    .highlights-list li:last-child {
      border-bottom: 0 none; }
    .highlights-list li:before {
      display: inline-block;
      content: "";
      border-style: solid;
      border-width: 5px;
      border-color: transparent transparent transparent #33ccff;
      position: absolute;
      left: -20px;
      top: 20px;
      -webkit-transition: left 0.3s ease-in-out;
      -moz-transition: left 0.3s ease-in-out;
      -ms-transition: left 0.3s ease-in-out;
      -o-transition: left 0.3s ease-in-out;
      transition: left 0.3s ease-in-out; }
    .highlights-list li a {
      display: block; }
      .highlights-list li a:hover {
        color: #33ccff; }

.detail-link {
  font-size: 16px;
  font-family: "Lato Bold";
  display: inline-block;
  color: #33ccff; }
  .detail-link:after {
    width: 30px;
    height: 3px;
    background-color: #45c4e7;
    content: "";
    display: block;
    margin-top: 15px;
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    -ms-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out; }
  .detail-link:hover:after {
    width: 100%; }

.social-list {
  list-style: none;
  margin: 25px 0 0;
  padding: 0; }
  .social-list li {
    margin-right: 22px;
    display: inline-block;
    vertical-align: middle; }
    .social-list li a {
      width: 22px;
      height: 22px;
      display: inline-block;
      text-indent: -9999px;
      display: block; }
    .social-list li .linkedin {
      background: url("../images/icon-linkedin.png") no-repeat center 0; }
      .social-list li .linkedin:hover {
        background-image: url("../images/icon-linkedin-blue.png"); }
    .social-list li .twitter {
      background: url("../images/icon-twitter.png") no-repeat center center; }
      .social-list li .twitter:hover {
        background-image: url("../images/icon-twitter-blue.png"); }

.slick-slide {
  outline: none; }

.slick-dots {
  display: block;
  position: absolute;
  bottom: 10px;
  left: 46%;
  padding: 0; }
  .slick-dots li {
    display: inline-block;
    margin-right: 10px;
    background: transparent; }
    .slick-dots li button {
      background: none;
      border: 0 none;
      outline: none;
      color: #999;
      cursor: pointer; }
    .slick-dots li.slick-active button {
      color: #51bf9f; }

.animation-wrap {
  opacity: 0;
  position: relative;
  top: 80px;
  -webkit-transition: all 0.5s linear 0s;
  -moz-transition: all 0.5s linear 0s;
  -o-transition: all 0.5s linear 0s;
  -ms-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s; }
  .animation-wrap.in-view {
    opacity: 1;
    top: 0; }

.form-msg {
  display: none;
  font-size: 16px;
  font-family: "Lato Bold";
  margin-top: 20px;
  position: absolute;
  bottom: -35px; }

.loading-icon {
  display: none;
  width: 90px; }

.success-msg {
  color: #51bf9f; }

.error-msg {
  color: #f00; }

.btn-close {
  width: 15px;
  height: 15px;
  display: none;
  background: url("../images/icon-close.png") no-repeat center center;
  position: absolute;
  right: 14px;
  top: 40px;
  text-indent: -9999px; }

.mCSB_container {
  height: 100%; }

.round-btn {
  display: inline-block;
  background: #33ccff;
  color: #fff;
  padding: 0 30px;
  border-radius: 25px;
  height: 50px;
  line-height: 50px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  .round-btn:hover {
    background: #45c4e7; }

.page-wrapper {
  position: relative; }
  .page-wrapper .right-canvas {
    top: -170px; }

/* header css starts */
.common-header {
  min-height: 660px;
  position: relative; }

.home-header {
  background: #eef1f1; }

.left-triangle {
  position: absolute;
  left: 0;
  bottom: 22%;
  height: 320px; }

.right-triangle {
  position: absolute;
  right: 0;
  bottom: 35%;
  height: 320px; }

.left-canvas {
  position: absolute;
  left: -5%;
  bottom: 0;
  height: 320px; }

.right-canvas {
  position: absolute;
  left: 90%;
  top: 150px;
  height: 320px; }

#canvasLeft, #canvasRight {
  width: 100%;
  height: 100%; }

.difrent-logo {
  max-width: 117px;
  display: block;
  float: left; }

.btn-menu {
  position: absolute;
  top: 40px;
  background: url(../images/btn-menu.png) no-repeat center center;
  right: 10px;
  width: 24px;
  text-indent: -9999px;
  border: none;
  display: none; }

.transparent-nav .btn-menu {
  background-image: url(../images/btn-menu-white.png); }

.navigation {
  padding: 0;
  margin: 0;
  list-style-type: none; }
  .navigation li a {
    font-size: 16px;
    color: #666;
    font-family: "Lato Regular";
    padding: 5px 0;
    border-bottom: 2px solid transparent; }
    .navigation li a:hover, .navigation li a.active {
      border-color: #666;
      color: #0f0f0f; }

.home-header .header-wrap {
  background-color: #eef1f1; }

.header-wrap {
  padding: 20px 0;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-transition: top 0.4s ease-in-out;
  -o-transition: top 0.4s ease-in-out;
  -ms-transition: top 0.4s ease-in-out;
  -moz-transition: top 0.4s ease-in-out;
  transition: top 0.4s ease-in-out;
  background-color: #fff;
  z-index: 99; }
  .header-wrap .navigation {
    float: right;
    text-align: right;
    width: calc(100% - 125px);
    margin-top: 24px; }
    .header-wrap .navigation li {
      display: inline-block;
      margin-left: 35px; }
      .header-wrap .navigation li:first-child {
        margin-left: 0; }

.nav-up {
  top: -150px; }

.common-banner {
  position: relative;
  min-height: 650px;
  box-sizing: border-box;
  padding-top: 200px; }

.home-banner {
  text-align: center; }
  .home-banner h1 {
    margin: 35px 0; }
  .home-banner p {
    max-width: 530px;
    margin: 0 auto;
    font-size: 24px;
    line-height: 34px; }

.banner-img, .banner-content {
  float: left;
  box-sizing: border-box; }

.banner-img {
  text-align: right;
  padding-right: 50px;
  width: 55%; }

.banner-content {
  width: 45%; }
  .banner-content h1 {
    margin: 70px 0 30px -30%; }
  .banner-content p {
    font-size: 18px;
    max-width: 350px;
    line-height: 26px; }

/* footer css starts */
.bedifrent-footer {
  background: #e9e9e9;
  padding: 140px 100px 55px; }

.footer-left, .footer-right {
  width: 50%;
  float: left; }

.footer-right {
  padding-top: 120px;
  float: right; }

.contact-wrap {
  max-width: 500px; }
  .contact-wrap .section-heading {
    text-align: left;
    margin-bottom: 30px; }
    .contact-wrap .section-heading p {
      max-width: 275px;
      margin: 10px 0;
      font-size: 18px; }

.form-field {
  border-bottom: 1px solid #c5c5c5;
  margin-bottom: 22px; }
  .form-field input {
    font-size: 16px;
    font-family: "Lato Regular";
    width: 100%;
    padding-bottom: 12px;
    box-sizing: border-box; }
  .form-field ::-webkit-input-placeholder {
    color: #999 !important; }
  .form-field ::-moz-placeholder {
    color: #999 !important; }
  .form-field ::-ms-input-placeholder {
    color: #999 !important; }
  .form-field input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #fff inset; }

.attach-field {
  position: relative; }
  .attach-field input {
    opacity: 0;
    position: absolute;
    z-index: -1; }
  .attach-field label {
    padding-right: 20px;
    position: relative;
    cursor: pointer;
    width: 100%;
    display: block;
    font-size: 16px;
    font-family: "Lato Regular";
    width: 100%;
    padding-bottom: 12px;
    box-sizing: border-box;
    color: #999;
    z-index: 1; }
    .attach-field label.active {
      color: #333; }
    .attach-field label:after {
      display: block;
      position: absolute;
      content: "";
      width: 15px;
      height: 15px;
      right: 0;
      top: 5px;
      background: url("../images/icon-attachment.png") no-repeat 0 0; }

.submit-field {
  margin-top: 30px;
  cursor: pointer; }
  .submit-field input {
    color: #33ccff;
    padding: 0;
    font-size: 16px;
    font-family: "Lato Bold";
    cursor: pointer; }

.row-wrap .form-field {
  width: calc((100% - 18px) / 2);
  float: left; }
  .row-wrap .form-field:first-child {
    margin-right: 18px; }

.contact-details {
  color: #666;
  font-size: 18px;
  font-family: "Lato Regular"; }
  .contact-details .contact-field {
    margin-bottom: 10px; }
  .contact-details a {
    color: #33ccff;
    margin-left: 10px; }
    .contact-details a:hover {
      color: #45c4e7; }

.footer-map-wrap {
  max-width: 360px;
  height: 260px;
  margin-top: 30px; }
  .footer-map-wrap #footer-map {
    width: 100%;
    height: 100%; }

.gm-style-cc {
  display: none !important; }

.gm-style a[href^="https://maps.google.com/maps"] {
  display: none !important; }

.footer-right .highlights-list, .footer-right .navigation {
  float: right;
  box-sizing: border-box; }
.footer-right .highlights-list {
  width: 36%; }
  .footer-right .highlights-list li {
    border-bottom: 0 none;
    margin-bottom: 40px;
    font-family: "Lato Bold";
    color: #666;
    padding: 0; }
    .footer-right .highlights-list li:before {
      top: 8px; }
    .footer-right .highlights-list li span {
      display: block; }
    .footer-right .highlights-list li a {
      color: #666; }
    .footer-right .highlights-list li small {
      display: block;
      color: #999;
      font-size: 14px;
      font-family: "Lato Regular";
      margin-top: 12px; }
.footer-right .navigation {
  width: 30%; }
  .footer-right .navigation li {
    margin-bottom: 30px; }
.footer-right .deployment-block span {
  color: #3399cc; }
.footer-right .deployment-block:before {
  border-color: transparent transparent transparent #3399cc; }
.footer-right .deployment-block a:hover {
  color: #3399cc; }
.footer-right .development-block span {
  color: #e88a43; }
.footer-right .development-block:before {
  border-color: transparent transparent transparent #e88a43; }
.footer-right .development-block a:hover {
  color: #e88a43; }
.footer-right .delivery-block span {
  color: #a35ba4; }
.footer-right .delivery-block:before {
  border-color: transparent transparent transparent #a35ba4; }
.footer-right .delivery-block a:hover {
  color: #a35ba4; }

.copyright {
  text-align: center;
  font-size: 14px;
  font-family: "Lato Regular";
  margin-top: 90px;
  color: #999; }

/* Home page css */
/* services section */
.services-section {
  margin: 50px 0 80px; }

.alternate-block {
  margin-bottom: 180px; }
  .alternate-block:last-child {
    margin-bottom: 0; }
  .alternate-block .img-block, .alternate-block .content-block {
    width: 50%;
    box-sizing: border-box; }
  .alternate-block:nth-child(odd) .img-block {
    float: left; }
  .alternate-block:nth-child(odd) .content-block {
    float: right; }
  .alternate-block:nth-child(even) .img-block {
    float: right; }
  .alternate-block:nth-child(even) .content-block {
    float: left; }
  .alternate-block .content-block {
    padding: 35px 86px 0;
    max-width: 620px;
    margin-top: 130px; }
    .alternate-block .content-block h3 {
      margin: 0 0 25px;
      color: #999; }
      .alternate-block .content-block h3 span {
        display: block; }
    .alternate-block .content-block .detail-link {
      margin-top: 35px; }

.content-block {
  position: relative; }
  .content-block:before {
    background-image: -webkit-linear-gradient(0deg, #19879f 13px, #3caed1 13px, #3caed1 26px, #54c9f3 13px, #54c9f3 13px);
    background-size: 40px;
    content: "";
    position: absolute;
    width: 40px;
    height: 7px;
    top: 0; }

.deployment-block .content-block h3 span {
  color: #33ccff; }

.delivery-block .content-block:before {
  background-image: -webkit-linear-gradient(0deg, #675188 13px, #a35ba4 13px, #a35ba4 26px, #d6a5b2 13px, #d6a5b2 13px); }
.delivery-block .content-block h3 span {
  color: #a35ba4; }
.delivery-block .content-block .detail-link {
  color: #b9667c; }
  .delivery-block .content-block .detail-link:after {
    background-color: #b9667c; }
.delivery-block .content-block .highlights-list li:before {
  border-color: transparent transparent transparent #b9667c; }
.delivery-block .content-block .highlights-list li a:hover {
  color: #b9667c; }

.development-block .content-block:before {
  background-image: -webkit-linear-gradient(0deg, #d97a31 13px, #eba24a 13px, #eba24a 26px, #e9d94a 13px, #e9d94a 13px); }
.development-block .content-block h3 span {
  color: #e88a43; }
.development-block .content-block .detail-link {
  color: #eba24a; }
  .development-block .content-block .detail-link:after {
    background-color: #eba24a; }
  .development-block .content-block .detail-link:hover:after {
    width: 30px; }
.development-block .content-block .highlights-list li:before {
  border-color: transparent transparent transparent #eba24a; }
.development-block .content-block .highlights-list li a:hover {
  color: #eba24a; }

/* clients section */
.clients-section {
  margin: 80px 0; }
  .clients-section .section-heading span {
    color: #666; }

.clients-wrapper {
  list-style-type: none;
  max-width: 1000px;
  overflow: hidden;
  margin: 0 auto; }

.client-item {
  width: calc(100% / 3);
  border-right: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  float: left;
  box-sizing: border-box;
  text-align: center;
  height: 145px;
  margin-top: -1px;
  display: table; }
  .client-item:nth-child(3n) {
    border-right: 0 none; }
  .client-item > div {
    display: table-cell;
    vertical-align: middle; }
    .client-item > div img {
      display: inline-block; }

/* testimonial section */
.testimonial-section {
  background-color: #e9e9e9;
  margin-bottom: 200px; }

.testimonial-wrapper {
  max-width: 1000px;
  margin: -200px auto 0;
  bottom: -210px;
  position: relative;
  z-index: 9;
  box-shadow: 0 0 25px #ddd;
  background-color: #fff; }

.testimonial-block {
  display: table; }

.testimonial-left, .testimonial-right {
  display: table-cell;
  box-sizing: border-box; }

.testimonial-left {
  background: #51bf9f url("../images/bg-testimonial.png") no-repeat 0 0;
  width: 40%;
  vertical-align: bottom;
  height: 450px; }

.testimonial-right {
  padding: 50px 20px 45px 60px;
  font-size: 20px; }
  .testimonial-right p {
    font-family: "Lato LightItalic";
    line-height: 32px;
    margin: 0 0 20px; }
  .testimonial-right strong {
    font-family: "Lato Bold";
    margin-top: 20px;
    display: block;
    text-transform: lowercase; }
  .testimonial-right span {
    font-size: 14px;
    color: #999999;
    margin: 10px 0 70px; }
  .testimonial-right .testimonial-content {
    height: 220px;
    overflow: hidden;
    margin-bottom: 5px; }
  .testimonial-right .more-link {
    display: none;
    font-family: "Lato Bold";
    color: #33ccff; }

/* blogs section */
.blogs-section {
  padding: 0 62px;
  margin: 250px 0 20px; }

.col-3 {
  width: calc((100% - 120px) / 3);
  float: left;
  margin: 0 20px;
  padding: 0 20px 35px;
  border: 1px solid #dedede;
  box-sizing: border-box; }
  .col-3:nth-child(2) {
    margin-top: 60px; }
  .col-3:nth-child(3) {
    margin-top: 160px; }

.blog-img {
  margin: -18px 0 25px;
  height: 185px;
  overflow: hidden;
  display: block; }
  .blog-img img {
    width: 100%; }

.blog-content .blog-date {
  font-size: 14px;
  color: #999;
  font-family: "Lato Regular"; }
.blog-content h5 {
  margin: 15px 0; }
  .blog-content h5 a:hover {
    color: #33ccff; }
.blog-content p {
  font-size: 18px;
  line-height: 25px;
  color: #666; }
.blog-content .detail-link {
  margin-top: 25px; }

/* About Page css */
/* values section */
.values-section {
  margin: 100px 0; }
  .values-section .section-heading {
    margin-bottom: 130px; }
    .values-section .section-heading h3 {
      font-size: 36px; }

.values-list .alternate-block {
  margin-bottom: 200px; }
.values-list .content-block {
  margin-top: 0;
  padding: 35px 98px 0; }
  .values-list .content-block:before {
    background-image: -webkit-linear-gradient(0deg, #eba24a 13px, #3caed1 13px, #3caed1 26px, #a35ba4 13px, #a35ba4 13px); }

/* us difrent section */
.usdifrent-section .testimonial-left {
  background: none;
  width: 35%; }
  .usdifrent-section .testimonial-left img {
    width: 100%;
    vertical-align: top; }
.usdifrent-section .testimonial-right {
  padding: 20px;
  vertical-align: middle; }
.usdifrent-section .highlights-list li {
  line-height: 30px; }
  .usdifrent-section .highlights-list li:before {
    top: 25px; }

/* leader section */
.leader-section {
  margin: 250px 0 160px; }
  .leader-section .section-heading {
    margin-bottom: 120px; }

.leader-content-wrap {
  position: relative; }

.leader-img, .leader-content-wrap {
  width: 50%;
  float: left;
  box-sizing: border-box; }

.triangle-shape {
  fill-opacity: 1;
  cursor: pointer; }

.triangle-shape.active {
  fill-opacity: 1; }

.leader-content {
  background: #fff;
  position: absolute;
  padding: 0 115px;
  box-sizing: border-box;
  left: 0;
  top: 150px;
  width: 100%;
  opacity: 0;
  z-index: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out; }
  .leader-content.current {
    opacity: 1;
    z-index: 1; }
  .leader-content h4 {
    margin: 20px 0; }
  .leader-content span {
    font-family: "Lato Regular";
    font-size: 16px;
    color: #666;
    letter-spacing: 1px; }
  .leader-content p {
    font-size: 18px;
    line-height: 32px;
    margin: 30px 0 0; }

/* News Section */
.news-section {
  margin: 115px 0;
  display: none; }

.mobile-leader-block {
  display: none; }
  .mobile-leader-block .leader-content {
    opacity: 1;
    z-index: 1;
    position: relative;
    padding: 0;
    top: 0;
    width: 100%;
    left: 0; }

/* services page css */
.image-header {
  background: url("../images/banner-services.jpg") no-repeat center center;
  background-size: cover;
  height: 500px;
  margin-bottom: 180px; }
  .image-header.slop-left:after {
    background-image: url("../images/slop-bottom-right.png");
    z-index: 1; }

.contact-header {
  background-image: url("../images/banner-contact.jpg"); }

.services-header, .blog-header {
  background-image: url("../images/banner-services.jpg"); }

.careers-header {
  background-image: url("../images/banner-careers.jpg"); }

.logo-white {
  display: none; }

.transparent-nav {
  background: transparent; }
  .transparent-nav .navigation li a {
    color: #fff; }
    .transparent-nav .navigation li a:hover, .transparent-nav .navigation li a.active {
      border-color: #fff; }
  .transparent-nav .logo-common {
    display: none; }
  .transparent-nav .logo-white {
    display: block; }

.image-banner {
  max-width: 580px;
  background: #fff;
  margin: 0 auto;
  position: relative;
  bottom: -90%;
  z-index: 2;
  text-align: center;
  padding: 40px 105px 60px;
  box-sizing: border-box;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  display: block; }
  .image-banner h1 {
    font-size: 36px;
    line-height: 44px; }
  .image-banner p {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 0; }
  .image-banner .section-heading {
    margin-bottom: 0; }

/* contact page css * / */
.contact-banner {
  padding: 40px 45px 60px; }

.contact-info {
  text-align: center; }
  .contact-info a {
    color: #666;
    font-family: "Lato Regular"; }
    .contact-info a:hover {
      color: #33ccff; }
  .contact-info h5 {
    margin: 15px 0; }

.contact-left, .contact-right {
  width: 50%;
  box-sizing: border-box;
  max-width: 160px; }

.contact-left {
  float: left; }

.contact-right {
  float: right; }

.contact-section {
  margin-top: 230px;
  padding: 70px 30px 60px;
  box-shadow: 1px 1px 20px #e4e1e1; }
  .contact-section .section-heading {
    max-width: 260px;
    margin: 0 auto 70px;
    font-size: 18px;
    line-height: 26px; }
  .contact-section .contact-form {
    margin: 0 auto;
    max-width: 1200px;
    position: relative; }
  .contact-section .row-wrap {
    margin-bottom: 40px; }
    .contact-section .row-wrap .form-field {
      width: calc((100% - 60px) / 3);
      margin-right: 30px; }
      .contact-section .row-wrap .form-field:last-child {
        margin-right: 0; }
  .contact-section .round-btn input {
    color: #fff; }

.map-section {
  margin: 100px 0 -200px;
  padding: 0; }
  .map-section.slop-right:before {
    background-image: url("../images/slop-top-left.png");
    top: 0;
    z-index: 2; }
  .map-section.slop-bottom:after {
    background-image: url("../images/slop-bottom-left.png");
    z-index: 2;
    bottom: 327px; }
  .map-section .map-wrap {
    height: 800px; }
  .map-section .location-map {
    width: 100%;
    height: 100%; }

.location-details {
  background: #fff;
  position: relative;
  max-width: 590px;
  margin: 0 auto;
  z-index: 9;
  padding: 40px 20px 60px;
  box-shadow: 0px 1px 20px #d3d3d3;
  bottom: 240px; }
  .location-details h3 {
    margin-bottom: 20px; }
  .location-details address span {
    color: #666;
    font-size: 18px;
    font-style: normal; }

/* careers page css */
.hiring-section {
  margin: 150px 0; }
  .hiring-section .section-heading {
    margin-bottom: 100px; }

.hiring-row .col-3 {
  border: 0 none;
  text-align: left; }
  .hiring-row .col-3 h4 {
    margin-bottom: 30px; }
    .hiring-row .col-3 h4 span {
      display: block; }
  .hiring-row .col-3 .detail-link {
    margin-top: 40px; }

.career-contact-section {
  box-shadow: none;
  padding: 0;
  margin-bottom: 100px; }
  .career-contact-section .section-heading {
    max-width: 385px; }

.culture-section {
  margin-top: 50px; }
  .culture-section .section-heading {
    margin-bottom: 100px; }

.culture-block {
  max-width: 1150px;
  margin: 0 auto;
  text-align: right;
  position: relative; }
  .culture-block .left-canvas {
    left: 15%;
    bottom: 15%;
    z-index: -1; }

.culture-img {
  display: inline-block;
  max-width: 390px;
  height: 300px;
  overflow: hidden;
  margin: 0 0 25px 25px; }
  .culture-img.active {
    width: 600px;
    height: 400px;
    max-width: none; }
  .culture-img.small {
    max-width: 182px; }
  .culture-img img {
    width: 100%; }

/* blog page css */
.blog-list-section {
  margin: 90px 0; }

.blog-header {
  margin-bottom: 300px; }
  .blog-header .image-banner {
    padding: 40px 45px 50px; }
    .blog-header .image-banner span {
      font-family: "Lato Regular";
      color: #999;
      font-size: 14px;
      display: block;
      margin-top: 35px; }

.col-2 {
  float: left;
  width: calc((100% - 65px) / 2);
  margin: 0 65px 45px 0;
  border: 1px solid #dedede;
  box-sizing: border-box;
  padding: 18px 0; }
  .col-2:nth-child(2n) {
    margin-right: 0; }
  .col-2 .img-wrap, .col-2 .content-wrap {
    display: inline-block;
    vertical-align: middle; }
  .col-2 .img-wrap {
    width: 35%;
    margin-left: -22px;
    overflow: hidden; }
    .col-2 .img-wrap img {
      width: 100%; }
  .col-2 .content-wrap {
    width: 65%;
    box-sizing: border-box;
    padding-left: 35px; }
  .col-2 span {
    color: #999;
    font-family: "Lato Regular"; }

/* blog details page */
.blog-wrapper .right-canvas {
  top: 20%;
  right: 2%; }

.details-section {
  padding: 60px;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin: -520px 60px 90px;
  position: relative;
  z-index: 9; }

.left-content, .right-content {
  float: left;
  box-sizing: border-box; }

.left-content {
  width: 180px; }

.author-block {
  font-family: "Lato Regular";
  text-align: center; }
  .author-block h5 {
    font-size: 16px;
    margin: 15px 0 5px; }
  .author-block span {
    font-size: 12px;
    color: #999; }

.img-author {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto; }

.blog-social-list {
  list-style-type: none;
  margin-top: 40px;
  padding: 0;
  text-align: center; }
  .blog-social-list a {
    color: #999;
    font-size: 14px;
    position: relative;
    padding-left: 50px;
    font-family: "Lato Regular";
    line-height: 32px;
    margin-bottom: 20px;
    display: inline-block; }
    .blog-social-list a:hover {
      color: #33ccff; }
    .blog-social-list a:before {
      width: 32px;
      height: 32px;
      position: absolute;
      display: block;
      content: "";
      background: url("../images/img-facebook.png") no-repeat center center;
      left: 0;
      top: 0; }
    .blog-social-list a.twitter:before {
      background-image: url("../images/img-twitter.png"); }
    .blog-social-list a.email:before {
      background-image: url("../images/img-email.png"); }

.right-content {
  width: calc(100% - 180px);
  text-align: left;
  padding-left: 60px;
  margin-bottom: 0; }
  .right-content h2 {
    font-size: 36px;
    margin: 20px 0 30px; }
  .right-content h5 {
    margin: 15px 0;
    font-family: "Lato Black"; }
  .right-content p {
    font-family: "Lato Regular";
    color: #666666;
    font-size: 18px;
    line-height: 32px;
    margin: 0 0 30px; }
  .right-content .img-wrap {
    margin: 40px 0; }
    .right-content .img-wrap img {
      width: 100%; }
  .right-content .blockquote-wrap {
    color: #666;
    margin: 40px 0; }
    .right-content .blockquote-wrap blockquote {
      font-size: 30px;
      font-family: "Lato Bold";
      font-style: Italic;
      margin: 0; }
    .right-content .blockquote-wrap span {
      font-size: 14px;
      font-family: "Lato Regular";
      margin: 20px 0 0; }

@media (max-width: 1600px) {
  .container {
    max-width: 1140px; }

  .contact-wrap {
    max-width: 355px; }

  .clients-wrapper {
    max-width: 750px; }

  .blog-img {
    height: 125px; }

  .testimonial-wrapper {
    max-width: 805px; }

  .slick-dots {
    left: 48%;
    margin-left: -5px; }

  .content-wrap .blog-content p {
    height: 100px;
    overflow: hidden; } }
@media (max-width: 1200px) {
  .container {
    max-width: 960px; }

  .alternate-block .content-block {
    padding: 20px 50px;
    margin-top: 0; }

  .alternate-block {
    margin-bottom: 80px; }

  .leader-content {
    padding: 0 60px; }

  .common-footer .footer-right .navigation li {
    margin: 0 0 0 15px; }

  .testimonial-right {
    padding: 40px; }

  .slick-dots {
    left: 46%; }

  .image-banner {
    padding: 40px 60px 60px; }

  .culture-img {
    width: 392px;
    max-width: none; }
    .culture-img.active {
      width: 480px;
      height: 330px; }

  .blogs-section {
    padding: 0; }

  .right-canvas {
    left: 87%; } }
@media (max-width: 980px) {
  h1 {
    font-size: 70px; }

  .right-content h2 {
    font-size: 30px; }

  h5 {
    font-size: 20px; }

  .banner-content h1 {
    margin: 30px 0 30px -30%; }

  .container {
    padding: 0 15px; }

  .bedifrent-footer {
    background: #e9e9e9;
    padding: 100px 0 50px; }

  .footer-right .highlights-list {
    width: 45%; }

  .alternate-block .content-block .detail-link {
    margin-top: 10px; }
  .alternate-block:nth-child(odd) .content-block {
    padding: 20px 0 0 40px; }
  .alternate-block:nth-child(even) .content-block {
    padding: 20px 40px 0 0; }

  .col-3 {
    width: calc((100% - 30px) / 3);
    margin: 0 7px;
    padding: 0 15px 20px;
    text-align: center; }
    .col-3:first-child {
      margin-left: 0; }
    .col-3:nth-child(3n) {
      margin-right: 0; }

  .blog-content {
    text-align: left; }
    .blog-content p {
      font-size: 16px; }
    .blog-content .detail-link {
      margin-top: 10px; }

  .testimonial-wrapper {
    max-width: calc(100% - 30px); }

  .news-section, .values-section {
    margin: 50px 0; }

  .values-list .alternate-block {
    margin-bottom: 80px; }

  .leader-section {
    margin: 150px 0 150px; }

  .left-canvas, .right-canvas {
    height: 235px; }

  .right-canvas {
    top: 100px;
    left: 85%; }

  .testimonial-left {
    width: 35%; }

  .testimonial-right {
    padding: 20px;
    font-size: 16px; }
    .testimonial-right p {
      margin-bottom: 10px; }
    .testimonial-right .testimonial-content {
      height: 200px; }

  .slick-dots {
    left: 37%;
    margin-left: 0; }

  .leader-content {
    padding: 0;
    left: 100px;
    width: calc(100% - 100px); }

  .culture-section .section-heading, .hiring-section .section-heading {
    margin-bottom: 50px; }

  .culture-section {
    margin-top: 0; }

  .hiring-section {
    margin: 100px 0; }

  .culture-img {
    width: 300px;
    height: 240px; }
    .culture-img.active {
      width: 368px;
      height: 255px; }
    .culture-img.small {
      max-width: 136px; }

  .col-2 .content-wrap {
    padding-left: 15px; }

  .details-section {
    padding: 50px 30px;
    margin: -520px 0 90px; }

  .right-content {
    padding-left: 30px; } }
@media (max-width: 768px) {
  h1, .image-banner h1 {
    font-size: 34px;
    line-height: 40px; }

  h3 {
    font-size: 30px;
    line-height: 36px; }

  .contact-header {
    background-image: url("../images/banner-contact-mobile.jpg"); }

  .services-header, .blog-header {
    background-image: url("../images/banner-services-mobile.jpg"); }

  .careers-header {
    background-image: url("../images/banner-careers-mobile.jpg"); }

  .slop-left:after .slop-bottom:after {
    background-size: auto 100%;
    height: 100px; }

  .left-canvas, .right-canvas {
    height: 202px;
    width: 180px; }

  .right-canvas {
    top: 100px;
    right: 0;
    left: auto; }

  .animation-wrap {
    opacity: 1;
    top: 0;
    transition: none; }

  .section-heading, .values-section .section-heading, .leader-section .section-heading {
    margin-bottom: 50px; }

  .culture-section .section-heading {
    margin-bottom: 30px; }

  .detail-link:after {
    margin: 15px auto 0; }

  .common-banner {
    padding: 250px 0 180px;
    min-height: 550px; }
    .common-banner.home-banner {
      padding: 300px 0; }
    .common-banner h1 {
      margin: 25px 0; }
    .common-banner p {
      font-size: 20px;
      line-height: 26px; }

  .header-wrap {
    padding: 10px 0; }

  .navigation-wrap {
    position: fixed;
    right: -100%;
    top: 0;
    width: 80%;
    z-index: 1;
    box-shadow: 0 0 5px #ddd;
    height: 100%;
    background: #fff;
    box-sizing: border-box;
    padding: 40px 30px 0;
    -webkit-transition: right 0.4s ease-in-out;
    -moz-transition: right 0.4s ease-in-out;
    -ms-transition: right 0.4s ease-in-out;
    -o-transition: right 0.4s ease-in-out;
    transition: right 0.4s ease-in-out; }
    .navigation-wrap.active {
      right: 0; }
    .navigation-wrap .navigation {
      float: none;
      width: 100%;
      text-align: left;
      margin-top: 0; }
      .navigation-wrap .navigation li {
        margin-left: 0;
        display: block; }
        .navigation-wrap .navigation li a {
          padding: 0;
          border: 0 none;
          display: block;
          margin-bottom: 30px; }
          .navigation-wrap .navigation li a:hover {
            color: #33ccff; }

  .btn-menu, .btn-close {
    display: block; }

  .alternate-block {
    margin-bottom: 60px; }
    .alternate-block .img-block, .alternate-block .content-block {
      float: none !important;
      margin: 30px auto;
      width: 100%;
      text-align: center; }

  .content-block {
    padding: 20px 0 !important; }
    .content-block:before {
      left: 50%;
      transform: translateX(-50%); }

  .col-3 {
    margin: 0 !important;
    padding: 20px 15px; }

  .blogs-row .slick-list {
    padding-top: 25px; }

  .blog-img {
    margin: -40px 0 20px;
    max-height: 300px;
    height: auto; }

  .bedifrent-footer {
    padding: 140px 0 30px; }

  .footer-left, .footer-right {
    float: none;
    width: 100%; }

  .footer-map-wrap {
    margin: 30px auto 0; }

  .footer-right {
    padding-top: 50px; }
    .footer-right .highlights-list {
      width: 40%; }
    .footer-right .navigation {
      text-align: center;
      width: 60%; }

  .contact-wrap {
    max-width: none; }
    .contact-wrap .section-heading, .contact-wrap .contact-field {
      text-align: center; }
    .contact-wrap .submit-field {
      margin-top: 20px; }

  .copyright {
    margin-top: 30px; }

  .leader-section {
    margin: 150px 0 50px; }

  .leader-block .leader-img, .leader-block .leader-content-wrap {
    display: block;
    width: 100%;
    text-align: center; }
  .leader-block .leader-content-wrap {
    height: 350px; }
  .leader-block .leader-content {
    top: 0;
    width: 100%;
    left: 0; }

  .blog-content h5 {
    min-height: 48px; }

  .testimonial-section {
    margin-bottom: 150px; }

  .testimonial-block {
    position: relative;
    display: block;
    padding-bottom: 300px; }

  .testimonial-left, .testimonial-right {
    display: block;
    width: 100%; }

  .testimonial-left {
    position: absolute;
    height: 300px;
    bottom: 0; }
    .testimonial-left img {
      transform: scaleX(-1);
      position: absolute;
      bottom: 0;
      right: 0; }

  .testimonial-right {
    min-height: 295px; }
    .testimonial-right .testimonial-content {
      height: 170px; }

  .slick-dots {
    bottom: -45px;
    left: 50%;
    transform: translateX(-50%); }
    .slick-dots li button {
      border: 1px solid #bbb;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      text-indent: -9999px; }
    .slick-dots .slick-active button {
      background: #33ccff;
      border-color: #33ccff; }

  .page-banner {
    padding: 150px 0 50px; }

  .banner-img, .banner-content {
    float: none;
    width: 100%;
    text-align: center;
    padding: 0; }

  .banner-content p {
    max-width: none; }

  .usdifrent-section {
    margin-bottom: 130px; }
    .usdifrent-section .testimonial-block {
      padding-bottom: 550px; }
    .usdifrent-section .testimonial-left {
      width: 100%;
      overflow: hidden;
      height: 550px; }
      .usdifrent-section .testimonial-left img {
        top: 50%;
        bottom: auto;
        transform: translateY(-50%); }
    .usdifrent-section .testimonial-right {
      min-height: auto; }

  .values-section, .values-list .alternate-block {
    margin-bottom: 0; }

  .social-list li {
    margin: 0 10px; }

  .leader-block {
    display: none; }

  .mobile-leader-block {
    display: block; }

  .leader-content p {
    font-family: "Lato Light";
    line-height: 24px;
    font-size: 14px;
    margin: 15px 0 0;
    min-height: 95px; }
  .leader-content h4 {
    font-size: 18px;
    margin: 10px 0; }
  .leader-content span {
    font-size: 14px; }

  .leader-row .slick-list {
    padding: 20px 0; }
  .leader-row .col-3 {
    padding-bottom: 70px; }
  .leader-row .slick-dots {
    bottom: 10px; }

  .image-banner {
    padding: 30px;
    width: 90%; }

  .contact-section {
    margin-top: 100px; }
    .contact-section .section-heading {
      margin-bottom: 30px; }
    .contact-section .row-wrap {
      margin-bottom: 0; }
      .contact-section .row-wrap .form-field {
        width: 100%;
        float: none;
        margin-right: 0; }

  .map-section {
    margin-top: 50px; }
    .map-section.slop-bottom:after {
      bottom: 300px; }

  .location-details {
    width: 80%; }

  .round-btn {
    height: 45px;
    line-height: 45px; }

  .image-header {
    margin-bottom: 100px; }
    .image-header .header-wrap .navigation li a {
      color: #666; }
      .image-header .header-wrap .navigation li a:hover {
        color: #33ccff; }

  .slick-dots li {
    margin: 0 5px; }

  .hiring-row .col-3 {
    text-align: center; }

  .hiring-row .col-3 h4 {
    margin: 15px 0; }
  .hiring-row .col-3 .detail-link {
    margin: 20px 0; }

  .culture-block {
    text-align: center; }
    .culture-block .left-canvas {
      left: 0; }

  .culture-img, .culture-img.active {
    width: 45%;
    height: 145px;
    margin: 8px;
    max-width: none; }

  .culture-img.small {
    max-width: none;
    width: 20%; }

  .col-2 {
    width: 100%;
    margin: 0 0 20px 0; }
    .col-2 .img-wrap {
      margin-left: -15px; }

  .content-wrap .blog-content h5 {
    margin: 10px 0;
    min-height: auto; }
  .content-wrap .blog-content p {
    height: 50px;
    min-height: auto;
    margin: 10px 0;
    overflow: hidden; }

  .blog-header .image-banner {
    padding: 15px; }

  .more-blogs-section {
    margin-bottom: 80px; }

  .details-section {
    margin-top: -400px;
    padding: 50px 20px; }

  .left-content, .right-content {
    float: none;
    width: 100%; }

  .right-content {
    padding: 0;
    margin-top: 30px; }

  .blog-social-list {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    margin: 0;
    padding-bottom: 30px; }
    .blog-social-list li {
      display: inline-block;
      margin: 0 10px; }
    .blog-social-list a {
      margin-bottom: 0;
      padding-left: 45px; }

  .author-block {
    text-align: left; }

  .img-author, .author-name {
    display: inline-block;
    vertical-align: middle; }

  .author-name {
    margin-left: 20px; }

  .blog-wrapper .right-canvas {
    right: 0;
    left: auto; } }
@media (max-width: 480px) {
  h1, .image-banner h1 {
    font-size: 30px;
    line-height: 36px; }

  h5 {
    font-size: 20px; }

  .blog-content p {
    min-height: 100px; }

  .slop-left {
    padding-bottom: 50px; }

  .left-canvas, .right-canvas {
    height: 150px; }

  .blogs-section {
    margin-top: 230px; }

  .leader-content-wrap {
    height: 470px; }

  .footer-right .highlights-list {
    width: 56%; }
  .footer-right .navigation {
    width: 44%; }

  .leader-content p {
    min-height: 170px; }

  .image-banner {
    bottom: -70%;
    padding: 20px 10px; }
    .image-banner h1 {
      margin: 10px 0; }
    .image-banner p {
      font-size: 15px;
      line-height: 24px; }

  .contact-left, .contact-right {
    float: none;
    width: 100%;
    max-width: none; }

  .location-details address span {
    font-size: 14px; }

  .footer-map-wrap {
    max-width: 330px; }

  .culture-img, .culture-img.active {
    width: 100%;
    max-height: 260px;
    margin: 0 0 10px 0; }

  .culture-img.small {
    max-width: none;
    margin: 0;
    width: calc((100% - 13px) / 2); }
    .culture-img.small:last-child {
      margin-left: 10px; }

  .common-banner.home-banner {
    padding: 250px 0 200px; } }

/*# sourceMappingURL=common.css.map */
